build \
    --xcode_version=14.2 \
    --ios_simulator_device='iPhone 14 Pro Max' \
    --ios_simulator_version=16.2 \
    --action_env=TEST_RUNNER_OS=16.2 \
    --jobs=6 \
    --disk_cache=/Volumes/CACHE/.bazel_disk_cache \
    --repository_cache=/Volumes/CACHE/.bazel_repo_cache

# startup --output_user_root=/Volumes/CACHE/.bazel_output

# build --override_repository=my_bazel_rules=/Volumes/DATA/Projects/my_bazel_rules
# build --override_repository=build_bazel_rules_apple=/Volumes/DATA/Projects/rules_apple
# build --override_repository=build_bazel_rules_swift=/Volumes/DATA/Projects/rules_swift
# build --override_repository=my_bazel_hub=/Volumes/DATA/Projects/my_bazel_hub
# build --override_repository=com_github_buildbuddy_io_rules_xcodeproj=/Volumes/DATA/Projects/rules-xcodeproj

# build --override_repository=tulsi=/Volumes/DATA/Projects/tulsi
# build --override_repository=vinone_bazel_dependency_hub=/Volumes/DATA/Projects/vinone-bazel-hub
# build --override_repository=GoogleWebRTC=/Volumes/DATA/Desktop/webrtc_ios
# build --override_repository=bazel_core=/Volumes/DATA/Projects/bazel-core
# build --override_repository=M3U8Kit=/Volumes/DATA/Projects/M3U8Parser

# build --remote_http_cache=https://storage.googleapis.com/vinid-ios-bazel
# build --google_credentials=/Volumes/DATA/.secret_key.json
# build --disk_cache=

# build --noincompatible_remap_main_repo
# build --features=-swift.supports_library_evolution
# build --features=-swift.enable_library_evolution
# build --features=-swift.emit_swiftinterface

# Assets
# build \
#     --define=apple.actool_filter_for_device_model='iPhone9,1' \
#     --define=apple.actool_filter_for_device_os_version='13.3'

# test --cache_test_results=false
# build --override_repository=xctestrunner=/Volumes/DATA/Downloads/xctestrunner
# build --override_repository=rules_apple_line=/Volumes/DATA/Projects/bazel-rules-apple
